<div id="<%= dom_id article_approval %>">
  <p>
    <strong>Create:</strong>
    <%= article_approval.create %>
  </p>

  <p>
    <strong>Edit:</strong>
    <%= article_approval.edit %>
  </p>

</div>
